@charset "utf-8";

@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', Sans-serif; }

.left{float: left;}
.right{float: right;}
.clearfix{padding: 0; margin: 0; line-height: inherit;}
.clearfix:after{content: ""; display:block; clear: both;}

.intro-header .site-heading h1, 
.intro-header .page-heading h1{display: none!important;}
.intro-content h1{font-size: 30px; color: #333; padding: 20px 0; text-align: center;}
.intro-content .text-area{font-size: 18px; font-weight: 300; color: #666; padding: 0 0 50px; line-height: 1.6em;}

/* nav */
.custom-nav{position: fixed; width: 80%; margin-left:20%; background: rgba(255,255,255,0.7); border-bottom: 1px solid #e1e1e1; z-index: 100; box-shadow: 1px 1px 3px rgba(0,0,0,0.1); text-align: center;}
.custom-nav .logo{transition:0.2s all; display: block; height: 55px; line-height: 55px; display: inline-block; text-align: center; font-size: 20px; font-weight: 600; color: #666;}
.custom-nav .logo:hover{text-decoration: none;}

.custom-nav .menu-icon{position: absolute; top: 19px; left: 20px;}
.custom-nav .menu-icon button{background: transparent; border: 0; padding: 0; display: none;}
.custom-nav .menu-icon .bar{display: block; width: 24px; height: 1px; background: rgba(0,0,0,0.6); margin-bottom: 7px;}
.left-side{position: fixed; top: 0; left: -300px; z-index: 101; width: 20%; height: 100%; background: url(/img/side-bg.jpg) 0 0 no-repeat; background-size: cover; padding: 20px; box-sizing: border-box; box-shadow: 15px 0px 15px rgba(0,0,0,0); transition: 0.2s all}
.left-side.on{left: 0; }

.left-side .close{position: absolute; top: 30px; left: 15px; width: 20px; height: 20px; opacity: 1; display: none;}
.left-side .close .bar{display: block; width: 20px; border-bottom: 1px solid #fff; box-sizing: border-box; position: relative;}
.left-side .close .bar:first-child{transform: rotate(40deg); top: 0px}
.left-side .close .bar:last-child{transform: rotate(-40deg); top: -14px;}


.left-side .intro{padding: 50px 10px 0; border-bottom: 1px solid #777; background: transparent;}
.left-side .intro img{width: 78px; height: 78px; border-radius: 50%; display: block; margin: 0 auto; box-shadow: 0px 1px 3px rgba(0,0,0,0.2)}

.left-side .intro p{font-size: 14px; color: #ccc; word-break: keep-all; text-align: center; margin: 50px 0;}
.left-side .intro p a{color: #fff;}
.left-side .intro p strong{font-size: 18px; font-weight: 400; display: inline-block; margin-bottom: 20px; color: inherit; border-bottom: 1px solid #e1e1e1;}
.left-side .intro .fa-facebook{color: #fff; background: #337ab7; display: inline-block; width: 20px; height: 20px; line-height: 20px; border-radius: 3px; margin-right: 10px; transition: 0.2s all}

.left-side ul{list-style: none; padding: 0;}
.left-side ul li{padding: 20px 30px; text-align: left; font-size: 16px; font-weight: 400; text-decoration: none; text-transform: uppercase; color: #fff; letter-spacing: -0.5px; border-bottom: 1px solid rgba(255,255,255,0.2); transition: 0.2s all}
.left-side ul li a{font-size: inherit; font-weight: inherit; color: inherit; text-decoration: none; border-bottom: 0; width: 100%; display: block;}
.left-side ul>li:hover{background: rgba(255,255,255,0.1); border-bottom: 1px solid rgba(255,255,255,0.5);}
.left-side ul li i{transform: rotate(0deg); display: block; height: 10px; position: relative;}
.left-side ul li i.rotate{transform: rotate(180deg); top: 15px;}

.left-side ul li.more_btn{cursor: pointer}
.left-side ul li.more_btn ul{padding: 20px 0; display: none;}
.left-side ul li.more_btn ul li{padding: 10px; transition: 0.2s all;}
.left-side ul li.more_btn ul li:hover{textecoration: none; border-bottom: 1px solid rgba(255,255,255,0.5);}
/*.left-side ul li:last-child{padding-top: 50px;}*/


/* 모든 페이지 레이아웃 */
.container{width: 80%; margin-left: 20%;}

/* header */
.intro-header .site-heading{padding: 0;}
.intro-header>div.container{background-position: 50% 50%;}
.intro-header .page-heading{padding: 200px 0; }

/* 메인 */
.post-preview{transition: 0.2s all}
.post-preview:hover{background: rgba(143,191,247,0.05);}
.post-preview h2.post-title{font-size: 24px; color: #333; line-height: 1.4em; font-weight: 300;}
.post-preview h3{font-size: 18px; color: #888; line-height: 1.4em; padding-top: 10px;}
.post-preview .post-meta{font-size: 13px; color: #999; text-align: right; font-style: normal; font-weight: 300;}
/* 포스트 내부 */

.intro-header.post{background: #fff;}
.intro-header .post-heading{padding: 100px 0 0; border-bottom: 2px solid #e1e1e1;}
.intro-header .post-heading h1{font-size: 30px; text-align: center; font-weight: 300; color: #333;}
.intro-header .post-heading h2{font-size: 18px; text-align: center; font-weight: 300; color: #888; text-align: left; line-height: 1.8em; padding-top: 50px;}
.intro-header .post-heading .meta{font-style: normal; font-family: "noto sans"; font-size: 16px; text-align: right;}

article h1{font-weight: 300; font-size: 24px; color: #333; font-weight: bold;}
article h2{font-weight: 300; font-size: 22px; color: #333; font-weight: bold;}
article h3{font-weight: 300; font-size: 20px; color: #333; font-weight: bold;}
article h4, article h5, article h6{font-weight: 300; font-size: 18px; color: #333; font-weight: bold;}
article div,article p,article a{font-size: 16px; line-height: 1.9em; color: #333; font-weight: 200; letter-spacing: 0.0px;}
article .container .row blockquote,
article .container .row blockquote p{font-style: normal; font-size: 15px; text-align: left; line-height: 1.6em; color: #888;} 
article .container .row blockquote{padding: 0 20px 10px;}   
article ul,
article ol{font-size: inherit; color: inherit; background: #fff; padding: 5px; padding-left: 40px; box-sizing: border-box;}
article li{font-size: inherit; color: inherit; margin-bottom: 10px; margin-top: 10px;}
article img{border: 1px solid #efefef;}
figure.highlight pre{letter-spacing: 0.5px; font-weight: 400;}
.post-categories{text-align: right;}
.post-categories a{margin-right: 0; border: 0; text-decoration: underline;}
.post-categories:after{content: ">"; color: #999; margin-right: 15px;}
.post-tags a{background: #b86824; padding: 3px 10px; border-radius: 15px; color: #fff; transition: 0.2s all; display: inline-block; line-height: 2em; border:0; font-size: 14px; margin-right:5px;}
.post-tags a:hover{background: #337ab7cc;}
.no-border{border:0;}

@media screen and (max-width: 1199px){
	.custom-nav .menu-icon button{display: inline-block;}
	.custom-nav,
	.container{width: 100%; margin-left: 0;}
	.left-side .close{display: block;}
	.left-side{width: 100px;}

}